/*------------------search---------------*/
#s-mid {
  height: 85px; }

#s-mid .logo {
  width: 199px;
  height: 45px;
  margin-top: 20px; }

#s-mid .s-mid-m {
  width: 432px;
  height: 32px;
  margin: 28px 0 0 246px; }

#s-mid .s-mid-m li {
  float: left; }

#s-mid .s-mid-m li span {
  padding-right: 9px; }

#s-mid .s-mid-m .shu {
  padding: 0 20px; }

#s-mid .s-mid-b {
  margin: 28px 0 0; }

#s-mid .s-mid-b .tet {
  background: #efefef;
  border: 0;
  width: 200px;
  height: 30px;
  float: left; }

#s-mid .s-mid-b .btn {
  border: 0;
  width: 40px;
  height: 30px;
  background: url(../img/sou.png) no-repeat; }

#s-bottom {
  margin-top: 23px;
  height: 39px;
  border-bottom: 2px solid #FF464E; }

#s-bottom .pos_code {
  position: absolute;
  left: 614px;
  top: 41px;
  z-index: 100;
  width: 130px;
  height: 130px;
  background: #fff;
  text-align: center;
  padding-top: 10px;
  display: none; }

#s-bottom ul .phone:hover .pos_code {
  display: block; }

#s-bottom .clear {
  position: relative; }

#s-bottom ul li {
  float: left;
  width: 106px;
  height: 39px;
  text-align: center;
  border-radius: 5px 5px 0 0; }

#s-bottom ul li b {
  padding-right: 5px; }

#s-bottom ul li a {
  font: 14px/41px ""; }

#s-bottom li:hover a {
  text-decoration: underline; }

#s-bottom ul .te {
  width: 210px;
  background: #FF464E; }
  #s-bottom ul .te a {
    color: #fff;
    text-decoration: none; }

#s-bottom .hot {
  margin-left: 49px; }

#s-bottom span {
  position: absolute;
  right: 16px; }

#s-bottom span img {
  padding-right: 3px; }

/*-----------------------banner---------------------*/
section {
  width: 100%;
  background: #f6f6f6; }

#banner {
  width: 1201px;
  height: 384px; }

#banner .banner-l {
  width: 210px;
  background: #fff; }

#banner .banner-l .choose {
  width: 190px;
  margin: 0 auto; }

#banner .banner-l li {
  width: 170px;
  height: 54px;
  padding-left: 21px;
  border-bottom: 1px dashed #666666; }

#banner .banner-l .choose .te {
  border-bottom: 0; }

#banner .banner-l li a {
  font: 14px/55px "";
  background: url(../img/qun.png) no-repeat;
  padding-left: 32px; }

#banner .banner-l li span {
  padding: 0 17px; }

.ck-slide ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.ck-slide {
  position: relative;
  top: 23px;
  left: 20px;
  overflow: hidden; }

.ck-slide ul.ck-slide-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0; }

.ck-slide ul.ck-slide-wrapper li {
  position: absolute; }

.ck-slide .ck-prev,
.ck-slide .ck-next {
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 25px;
  height: 50px;
  margin-top: -35px;
  font: 25px/50px "";
  text-align: center;
  color: #fff;
  border-radius: 3px;
  opacity: .1;
  background: rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  transition: opacity .2s linear 0s; }

.ck-slide .ck-prev {
  left: 5px; }

.ck-slide .ck-next {
  right: 5px; }

.ck-slidebox {
  position: absolute;
  left: 50%;
  bottom: 12px;
  z-index: 30; }

.ck-slidebox ul {
  height: 20px;
  padding: 0 4px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5); }

.ck-slidebox ul li {
  float: left;
  height: 12px;
  margin: 4px 4px; }

.ck-slidebox ul li em {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #fff;
  text-indent: -9999px;
  cursor: pointer; }

.ck-slidebox ul li.current em {
  background-color: #fe6500; }

.ck-slidebox ul li em:hover {
  background-color: #fe6500; }

.mianc {
  width: 702px;
  height: 362px; }

.ck-slide {
  width: 702px;
  height: 362px; }

.ck-slide ul.ck-slide-wrapper {
  height: 362px; }

.banner-r {
  margin-top: 22px;
  width: 251px;
  height: 364px; }

.banner-r ul {
  width: 251px;
  height: 364px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.banner-r ul li:hover {
  opacity: .8;
  transition: .5s; }

.brand {
  padding-top: 9px; }
  .brand .today {
    font: 15px/66px ""; }
  .brand .brand_kids li {
    float: left;
    width: 90px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    background: url("../img/ysj.png") no-repeat 80px 30px; }

.brand_list {
  background: #fff;
  height: 301px; }
  .brand_list .discount {
    padding-left: 11px; }
    .brand_list .discount li {
      float: left;
      margin: 22px 11px 0;
      border: 1px solid #fff; }
      .brand_list .discount li:hover .sales .active {
        background: #FF464E;
        color: #fff; }
      .brand_list .discount li:hover {
        border: 1px solid #CCCCCC; }
      .brand_list .discount li img {
        width: 370px;
        height: 152px; }
      .brand_list .discount li .sales {
        width: 370px;
        height: 50px;
        background: #F6F6F6; }
        .brand_list .discount li .sales span:nth-of-type(1) {
          float: left;
          font: 11px/50px "";
          padding-left: 11px; }
        .brand_list .discount li .sales .active {
          float: right;
          width: 70px;
          height: 30px;
          border-radius: 5px;
          margin: 10px 11px;
          font: 16px/30px "";
          color: #ff464e;
          text-align: center; }
  .brand_list .special_offer li {
    float: left;
    padding: 20px 25px; }
    .brand_list .special_offer li img {
      width: 70px;
      height: 35px; }
  .brand_list .special_offer a {
    padding: 20px 25px; }
    .brand_list .special_offer a span {
      font: 12px/36px "";
      color: red; }

.today_new .new_title {
  padding: 32px 0 27px; }
  .today_new .new_title b {
    color: #333333; }
  .today_new .new_title span {
    padding: 0 5px;
    color: #ccc; }
.today_new .marginal_data ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .today_new .marginal_data ul li {
    width: 286px;
    margin-bottom: 20px;
    border: 1px solid #fff; }
    .today_new .marginal_data ul li .data {
      overflow: hidden; }
    .today_new .marginal_data ul li:hover {
      border: 1px solid #ccc; }
    .today_new .marginal_data ul li:hover img {
      transform: scale(1.02); }
    .today_new .marginal_data ul li img {
      width: 286px;
      height: 286px;
      transition: 1s; }
    .today_new .marginal_data ul li div {
      width: 286px;
      background: #fff; }
      .today_new .marginal_data ul li div p:nth-of-type(1) {
        height: 26px; }
        .today_new .marginal_data ul li div p:nth-of-type(1) b, .today_new .marginal_data ul li div p:nth-of-type(1) a {
          float: left;
          font: 12px/26px "";
          color: #333333; }
        .today_new .marginal_data ul li div p:nth-of-type(1) span {
          float: right;
          font: 12px/26px "";
          color: #C6C6C6;
          padding: 0 16px; }
      .today_new .marginal_data ul li div p:nth-of-type(2) {
        height: 44px; }
        .today_new .marginal_data ul li div p:nth-of-type(2) span {
          float: left; }
        .today_new .marginal_data ul li div p:nth-of-type(2) span:nth-of-type(1) {
          font: 11px/27px "";
          color: #FF0000;
          padding-top: 17px; }
        .today_new .marginal_data ul li div p:nth-of-type(2) span:nth-of-type(2) {
          font: 29px/44px "";
          color: #FF0000; }
        .today_new .marginal_data ul li div p:nth-of-type(2) span:nth-of-type(3) {
          font: 12px/27px "";
          color: #bbb;
          padding-top: 17px;
          text-decoration: line-through; }
        .today_new .marginal_data ul li div p:nth-of-type(2) a {
          float: right;
          font: 14px/27px "";
          padding: 15px 16px 0 0;
          color: #FF0000; }

/*# sourceMappingURL=index.css.map */
